#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background: gray;
  display: grid;

  .cell {
    border: 1px solid black;
    position: relative;
  }
}
